<div class="content">
  <div class="label">
    <label>
      {{ label }}
    </label>
  </div>

  <p class="input-group">
    <input type="number"
           max="{{ getMaxDate() }}"
           [(ngModel)]="date.d"
           (change)="onChange( $event )">
    /
    <input type="number"
           min="1"
           max="12"
           [(ngModel)]="date.m"
           (change)="onChange( $event )">
    /
    <input class="year"
           type="number"
           min="2000"
           max="3000"
           minlength="4"
           [(ngModel)]="date.y">
    ,
    <input class="ml-2"
           type="number"
           min="0"
           max="23"
           [(ngModel)]="time.h"
           (change)="onChange( $event )">
    :
    <input type="number"
           min="0"
           max="59"
           [(ngModel)]="time.m"
           (change)="onChange( $event )">
    :
    <input type="number"
           min="0"
           max="59"
           [(ngModel)]="time.s"
           (change)="onChange( $event )">
  </p>
</div>
