@import "../../../theme/colors.scss";

.input-group {
  font-weight: bold;
  font-size: 18px;

  input {
    width: 28px;
    border: 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    /* border-radius: 0.3rem; */
    /* Remove number arrows on firefox */
    -moz-appearance:textfield;

    &.year { width: 48px; }

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
