<div class="container" [ngClass]="{ 'dark' : theme.isDark | async }">
  <h1 class="numbers m-0">
    {{ hours | number: '2.0-0' }}:{{ minutes | number: '2.0-0' }}:{{ seconds | number: '2.0-0' }}

    <button class="btn btn-start btn-outline-transparent ml-4 mb-2" (click)="toggleState()">
      <i class="icon" [ngClass]="[ active ? 'ion-ios-pause' : 'ion-ios-play' ]"></i>
    </button>
  </h1>
</div>
