$white:        rgb( 255, 255, 255 );
$black:        #232323;
$black_light:  rgb( 42, 42, 46 );
$blue:         rgb( 40, 143, 244 );
$blue_light:   lighten( $blue, 20% );
$gray:         rgb( 246, 246, 246 );
$gray_light:   darken( $gray, 20% );

$colors: (
  white:        $white,
  black:        $black,
  black_light:  $black_light,
  blue:         $blue,
  blue_light:   $blue_light,
  gray:         $gray,
);
