<div class="content">

  <app-navbar></app-navbar>

  <app-sidebar></app-sidebar>

  <div class="wrapper" [ngClass]="{ 'dark' : theme.isDark | async }">
    <router-outlet></router-outlet>
  </div>

</div>

