@import "../../theme/colors.scss";

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

.wrapper {
  position: relative;
  overflow: scroll;
  top: 0;
  height: 100%;
  width: 80%;
  background-color: white;
  transition: background-color 500ms;

  &.dark { background-color: $black; }
}

app-sidebar {
  height: 100%;
  width: 20%;
  min-width: 200px;
}
