<div class="sidebar" [ngClass]="{ 'dark' : theme.isDark | async }">
  <div class="theme-toggle">
    <button class="toggle" type="button" (click)="theme.toggle()"></button>
  </div>

  <div class="project-wrapper">
    <a class="btn router-btn"
       *ngFor="let project of projectService.projects | async"
       [routerLink]="[ '/project', project.id ]"
       [routerLinkActive]="[ 'active' ]">
      {{ project.name | string:20 }}
    </a>
  </div>

  <div class="bottom-area">
    <button class="btn btn-add" (click)="projectService.addProject()">
      <i class="icon ion-ios-add-circle mr-2"></i>
      Add Project
    </button>

    <!-- <button class="btn btn-export mt-4" (click)="projectService.exportData()"> -->
      <!-- <i class="icon ion-ios-cloud-download mr-2"></i> -->
      <!-- Export data -->
    <!-- </button> -->

    <!-- <button class="btn btn-import" (click)="projectService.importData()"> -->
      <!-- <i class="icon ion-ios-cloud-upload mr-2"></i> -->
      <!-- Import data -->
    <!-- </button> -->

    <button class="btn btn-report" (click)="projectService.generateReport()">
      <i class="icon ion-ios-document mr-2"></i>
      Generate Report
    </button>
  </div>
</div>
