@import "../../../theme/colors.scss";

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1.75rem;
  background-color: $gray;
  transition: background-color 500ms;

  &.dark {
    background-color: $black-light;

    .theme-toggle .toggle { background-color: white; }

    .btn, .icon { color: white; }
  }

  .theme-toggle {
    padding: 1rem 1rem 0.75rem;

    .toggle {
      width:   26px;
      height:  26px;
      border: 2px solid $gray-light;
      border-radius: 100%;
      background-color: $black;
      transition: background-color 500ms;

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    height: 80%;
    max-height: 80%;
    overflow: scroll;

    .router-btn {
      text-align: left;
      border-radius: 0;

      &.active {
        background-color: $blue;
        color: white;
        box-shadow: unset;
      }
    }
  }

  .bottom-area {
    margin-top: auto;
    margin-bottom: 1rem;

    .btn {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}
