<div class="container" [ngClass]="{ 'dark' : theme.isDark | async }">
  <div class="header">
    <input class="transparent form-control" type="text" maxlength="35" [formControl]="name" (keyup)="updateName()">

    <div class="btn-container">
      <button class="btn add-btn btn-outline-transparent" (click)="open( timeModal )">
        <i class="icon ion-ios-add"></i>
      </button>
    </div>
  </div>

  <div class="mb-3 d-flex flex-row">
    <app-stopwatch [project]="project"></app-stopwatch>

    <div class="delete-container">
      <button type="button" class="btn btn-outline-danger" (click)="open( confirmModal )">
        Delete Project
      </button>
    </div>
  </div>

  <div class="today section">
    <h1 class="title">
      Today ( {{ project.hours | hours }} )

      <div class="btn-container">
        <button class="btn btn-archive btn-outline-transparent" [disabled]="!project.current?.length" (click)="archiveCurrent()">
          <i class="icon ion-ios-archive"></i>
        </button>
      </div>
    </h1>

    <div class="content">
      <p class="entry" *ngFor="let entry of project.current">
      <button type="button" class="btn btn-transparent mr-2" (click)="deleteEntry( entry.id )">
        <i class="icon ion-ios-close-circle-outline"></i>
      </button>

      {{ entry.start | date: 'medium' }}
      to
      {{ entry.end | date: 'mediumTime' }}
      <b class="ml-2">
        ( {{ entry.duration | hours }} )
      </b>
      </p>
    </div>
  </div>

  <div class="history section">
    <h1 class="title">
      History
    </h1>

    <div class="content">
      <div class="history entry" *ngFor="let history of project.history" (click)="history.active = !history.active">
        <button type="button" class="btn btn-transparent mr-2">
          <i class="icon" [ngClass]="[ history.active ? 'ion-ios-arrow-dropdown' : 'ion-ios-arrow-dropright' ]"></i>
        </button>

        {{ history.date | date: 'medium' }}
        <b>
          ( {{ history.duration | hours }} )
        </b>

        <div class="history-content" *ngIf="history.active">
          <div class="entry" *ngFor="let entry of history.entries">
            <p class="pb-0">
            {{ entry.end | date: 'medium' }}
            </p>
            <b>
              ( {{ entry.duration | hours }} )
            </b>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="safe-area"></div>
</div>

<!-- Modal for manual add time to current list -->
<ng-template #timeModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">
      Add Time
    </h3>

    <button type="button" class="btn close-btn" aria-label="Close" (click)="d('Cancel')">
      <i class="icon ion-ios-close"></i>
    </button>
  </div>

  <div class="modal-body">
    <div class="time-selector">
      <app-time-input #startDate label="Start Time"></app-time-input>
    </div>

    <div class="time-selector">
      <app-time-input #endDate label="End Time" extra="+1"></app-time-input>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="dateError">
      Start Date should be before End Date
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save( startDate, endDate )">
      Save
    </button>
  </div>
</ng-template>

<!-- Modal for confirm deletion of project -->
<ng-template #confirmModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      Confirmation
    </h4>

    <button type="button" class="btn close-btn" aria-label="Close" (click)="d('Cancel')">
      <i class="icon ion-ios-close"></i>
    </button>
  </div>

  <div class="modal-body">
    <b>
      Are you sure you want to delete
      <span class="text-primary">
        {{ project.name }}
      </span>
      ?
    </b>
    <br>
    <b class="text-danger">
      This operation can not be undone.
    </b>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="d('Cancel')">
      Cancel
    </button>

    <button type="button" class="btn btn-danger" (click)="deleteProject()">
      Ok
    </button>
  </div>
</ng-template>
