@import "../../theme/colors.scss";

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  .add-btn { margin-right: 0.75rem; }
}

.container {
  &.dark {
    div, p, button, .icon { color: white; }
  }

  .section {
    border-top: 1px solid $gray_light;

    .title {
      font-size: 2rem;
      color: $blue;
      padding: 0 0.75rem;
      display: flex;
      flex-direction: row;
    }
  }

  .header {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;

    input {
      font-size: 2rem;
      color: $blue;
    }
  }

  .delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .today {
    .content {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column-reverse;
    }

    .entry { margin: 0; }
  }

  .history {
    .history-content {
      border-top: 1px solid $gray_light;
      margin-top: 0.75rem;
      padding: 0.75rem 10%;

      .entry {
        display: flex;
        flex-direction: row;

        p { width: 220px; }
      }
    }
  }

  .safe-area {
    height: 40px;
    width: 100%;
  }
}

