@import "./theme/bootstrap/scss/bootstrap.scss";

$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

@import "./theme/responsive.scss";
@import "./theme/colors.scss";

body { background-color: transparent; }

*, html, body, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h1 b {
  font-size: 23px;
  line-height: 37px;
  font-weight: 500;
}

h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

@include sm-and-up {
  *, html, body, h5, h6 {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
  }

  h1, h1 b {
    font-size: calc( ( 23px + 42px ) / 2 );
    line-height: calc( ( 37px + 65px ) / 2 );
    font-weight: 500;
  }

  h2 { font-weight: 500; }

  h3, h4 { font-weight: 300; }
}

@include md-and-up {
  h1, h1 b {
    font-size: 42px;
    line-height: 65px;
  }

  h2 {
    font-size: 32px;
    line-height: 52px;
  }

  h3 {
    font-size: 26px;
    line-height: 42px;
  }

  h4 {
    font-size: 20px;
    line-height: 33px;
  }
}

a {
  color: $black;
  text-decoration: none !important;
  transition: color 500ms;

  &:hover, &:focus, &:active { color: $black; }
}

.btn-transparent {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-700 { font-weight: 700; }

.icon { font-size: 20px; }

input.transparent {
  border: 0px;
  &:focus { box-shadow: none; }
}

.btn-transparent {
  $font_color: darken( $gray_light, 18% );
  padding: 0 20px;
  background-color: transparent;
}

.btn-outline-transparent {
  $font_color: darken( $gray_light, 18% );

  padding: 0 20px;
  border: 1px solid $gray_light;
  color: $font_color;

  i { color: $font_color; }
}

.modal-content {

  .modal-header {
    border: 0px;
    display: flex;
    align-items: center;

    .btn{
      &:focus { box-shadow: none !important; }
      .icon { font-size: 2rem; }
    }
  }

  .modal-footer { border: 0px; }
}

ngb-datepicker {
  background-color: $white;
  z-index: 1;
}

.ngb-tp-input {
  &::placeholder { text-transform: lowercase; }
}

// Style Helpers
@each $key, $val  in $colors {
  .text-#{ '' + $key } { color: #{ $val }; }
}

.transparent { background: transparent !important; }

// Responsive Helpers
@include sm-and-down 	{ .hide-on-sm { display: none !important; } }
@include sm-and-up 		{ .show-on-sm { display: none !important; } }
@include md-and-down 	{ .hide-on-md { display: none !important; } }
@include md-and-up 		{ .show-on-md { display: none !important; } }
@include lg-and-down 	{ .hide-on-lg { display: none !important; } }
@include lg-and-up 		{ .show-on-lg { display: none !important; } }
