<div class="container" [ngClass]="{ 'dark' : theme.isDark | async }">
  <h1 class="title mb-2">
    TimeTracker by <b class="text-blue">sgzadrian</b>
  </h1>

  <p>
  TimeTracker is open source, feel free to use for whatever you want.
  </p>

  <a class="mb-5" href="https://gitlab.com/sgzadrian/timetracker.git" target="_blank">
    <img src="./assets/icons/gitlab.svg" alt="Gitlab TimeTracker" height="30">
  </a>

  <button class="btn btn-add btn-transparent" (click)="projectService.addProject()">
    <i class="icon ion-ios-add-circle mr-2"></i>
    Add Project
  </button>
</div>
