@import "../../theme/colors.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn {
    display: flex;
    align-items: center;

    .icon { font-size: 20px; }
  }

  &.dark {
    h1, p, a, button, .icon {
      color: white;

      img {
        transition: filter 500ms;
        filter: invert(1);
      }
    }
  }
}
